---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: linkding
  namespace: flux-system
spec:
  chart:
    spec:
      chart: linkding
      reconcileStrategy: ChartVersion
      sourceRef:
        kind: HelmRepository
        name: pascaliske
        namespace: flux-system
  interval: 10m0s
  values:
    persistentVolumeClaim:
      storageClassName: rook-ceph-block
    env:
      - name: LD_DB_ENGINE
        valueFrom:
          configMapKeyRef:
            name: linkding-postgres-config
            key: LD_DB_ENGINE
      - name: LD_DB_DATABASE
        valueFrom:
          configMapKeyRef:
            name: linkding-postgres-config
            key: LD_DB_DATABASE
      - name: LD_DB_HOST
        valueFrom:
          configMapKeyRef:
            name: linkding-postgres-config
            key: LD_DB_HOST
      - name: LD_DB_PORT
        valueFrom:
          configMapKeyRef:
            name: linkding-postgres-config
            key: LD_DB_PORT
      - name: LD_DB_USER
        valueFrom:
          secretKeyRef:
            name: linkding-postgres-credentials
            key: username
      - name: LD_DB_PASSWORD
        valueFrom:
          secretKeyRef:
            name: linkding-postgres-credentials
            key: password
