---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: external-dns
  namespace: flux-system
spec:
  interval: 10m
  path: "./kubernetes/rpi-cluster/infrastructure/network/external-dns/app"
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  targetNamespace: network
  decryption:
    provider: sops
    secretRef:
      name: flux-sops
  wait: true
