---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - secret.sops.yaml
  - git-ssh-secret.sops.yaml
  - git-ssh-webapps-secret.sops.yaml
  - serviceaccount.yaml
  - rbac.yaml
  - pvc.yaml
  - deployment.yaml
  - service.yaml
