---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: reflector
  namespace: security
spec:
  chart:
    spec:
      chart: reflector
      version: 7.x.x
      sourceRef:
        kind: HelmRepository
        name: emberstack
        namespace: flux-system
      interval: 30m
  interval: 30m
  values:
    image:
      repository: ghcr.io/emberstack/kubernetes-reflector
      tag: 7.1.288
      pullPolicy: IfNotPresent
    rbac:
      enabled: true
    serviceAccount:
      create: true
    configuration:
      logging:
        minimumLevel: Information
    resources:
      requests:
        cpu: 50m
        memory: 64Mi
      limits:
        cpu: 100m
        memory: 128Mi
