---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cloudnative-pg-operator
  namespace: flux-system
spec:
  interval: 10m
  path: "./kubernetes/rpi-cluster/infrastructure/database/cloudnative-pg/operator"
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  wait: true
