---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: kube-prometheus-stack-crds
  namespace: flux-system
spec:
  interval: 1h
  path: ./kubernetes/rpi-cluster/apps/monitoring/kube-prometheus-stack/crds
  prune: true
  retryInterval: 2m
  sourceRef:
    kind: GitRepository
    name: flux-system
  targetNamespace: monitoring
  timeout: 5m
  wait: true
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: kube-prometheus-stack
  namespace: flux-system
spec:
  interval: 30m
  path: ./kubernetes/rpi-cluster/apps/monitoring/kube-prometheus-stack/app
  postBuild:
    substituteFrom:
      - kind: ConfigMap
        name: cluster-settings
        optional: true
      - kind: Secret
        name: cluster-secrets
  prune: true
  retryInterval: 1m
  sourceRef:
    kind: GitRepository
    name: flux-system
  targetNamespace: monitoring
  timeout: 5m
  wait: true
  decryption:
    provider: sops
    secretRef:
      name: flux-sops
  dependsOn:
    - name: kube-prometheus-stack-crds
    - name: cert-manager
    - name: rook-ceph-rbd
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: kube-prometheus-stack-alerts
  namespace: flux-system
spec:
  interval: 10m
  path: ./kubernetes/rpi-cluster/apps/monitoring/kube-prometheus-stack/alerts
  prune: true
  retryInterval: 1m
  sourceRef:
    kind: GitRepository
    name: flux-system
  targetNamespace: monitoring
  timeout: 5m
  wait: true
  dependsOn:
    - name: kube-prometheus-stack
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: kube-prometheus-stack-dashboards
  namespace: flux-system
spec:
  interval: 10m
  path: ./kubernetes/rpi-cluster/apps/monitoring/kube-prometheus-stack/dashboards
  prune: true
  retryInterval: 1m
  sourceRef:
    kind: GitRepository
    name: flux-system
  targetNamespace: monitoring
  timeout: 5m
  wait: true
  dependsOn:
    - name: kube-prometheus-stack
