---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: loki
spec:
  chart:
    spec:
      chart: loki
      reconcileStrategy: ChartVersion
      sourceRef:
        kind: HelmRepository
        name: grafana
        namespace: flux-system
      version: 6.29.x
  interval: 30m0s
  values:
    deploymentMode: SingleBinary
    singleBinary:
      replicas: 1
      persistence:
        storageClass: rook-ceph-block
    # Fix CRI-O short name issue for sidecar
    sidecar:
      image:
        registry: docker.io
        repository: kiwigrid/k8s-sidecar
        tag: 1.30.2
    # loki settings
    loki:
      auth_enabled: false
      commonConfig:
        replication_factor: 1
      storage:
        type: filesystem
        filesystem:
          directory: /var/loki/chunks
      useTestSchema: true
    # nr of replicas
    write:
      replicas: 0
    read:
      replicas: 0
    backend:
      replicas: 0
    ingester:
      replicas: 0
    querier:
      replicas: 0
    queryFrontend:
      replicas: 0
    queryScheduler:
      replicas: 0
    distributor:
      replicas: 0
    compactor:
      replicas: 0
    indexGateway:
      replicas: 0
    bloomCompactor:
      replicas: 0
    bloomGateway:
      replicas: 0
    # caching
    chunksCache:
      enabled: false
    resultsCache:
      enabled: false
    # helm test
    test:
      enabled: false
