---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: build-system
  namespace: flux-system
spec:
  interval: 10m
  path: ./kubernetes/rpi-cluster/infrastructure/build-system/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  wait: true
  timeout: 5m
