---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cloudflared
  namespace: flux-system
spec:
  interval: 1h
  path: ./kubernetes/rpi-cluster/infrastructure/network/cloudflared/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  targetNamespace: network
  decryption:
    provider: sops
    secretRef:
      name: flux-sops
  postBuild:
    substituteFrom:
      - kind: Secret
        name: cluster-secrets
  wait: true
  timeout: 5m
  retryInterval: 2m
