---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources: []
patches:
  - path: flux-instance-patch.yaml
    target:
      kind: FluxInstance
      name: flux
      namespace: flux-system
